body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: rgb(247, 246, 226);
  /* font-family: "Rubik Wet Paint", serif;
  font-weight: 400;
  font-style: normal;*/
}

#principal{
  margin: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: auto;
  box-shadow: 0 10px 30px ;
  padding: 10px;
  background-color: rgb(247, 246, 226);
}

.linguagens {
  width: 50px;
  height: 50px;
}

#eu {
  width: 100px;
}

.container{
  width: 200px;
  height: 80px;
  margin: 50px;

}

#descrição {
  width: 500px;
  margin: 50px;

}

#experiencia {
  width: 650px;
  padding: 10px;
  box-shadow: 3px 3px 3px;
  border-radius: 10px;
}

#formacao{
  width: 650px;
  padding: 10px;
  box-shadow: 3px 3px 3px;
  border-radius: 10px;
}

#hobbies{
    width: 650px;
    padding: 10px;
    box-shadow: 3px 3px 3px;
    border-radius: 10px;
}

#coritiba{
  width: 20px;
}

li {
  font-size: 14px;
}

#games {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
}

.game {
  text-align: center;
  max-width: 150px;
}

.game img {
  width: 150px;
  height: auto;
  border-radius: 5px;
  margin-top: 0px;
}

#natureza{
  margin-top: -40px;
  margin-bottom: 10px;
  width: 250px;
}

section{
  width: 650px;
  margin: 50px;
  padding: 10px;
  box-shadow: 3px 3px 3px;
  border-radius: 10px;
}
.contatos-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

.contato img {

  width: 40px;
  padding-left: 10px;
  height: auto;
}
